@font-face {
  font-family: 'MyCustomFont1';
  src: 
      url('FONT/antarctic.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont2';
  src: 
      url('FONT/ekaterina-velikaya-one.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont3';
  src: 
      url('FONT/caravan.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}


body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-image: url('FON/1.webp'); /* Путь к изображению фона */
    background-size: cover; /* Масштабирование фонового изображения */
    background-position: center; /* Положение фонового изображения */
    background-attachment: fixed;
    font-size: 32px;
    font-family: 'MyCustomFont1', sans-serif;
    

}

#first {
    width: 700px; 
    height: 650px; 
    /* border: 5px solid #ffffff;  */
    background-color: transparent;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px auto; /* Отступ вокруг секции */
    opacity: 1;                
    /* transition: opacity 2s ease-out; */
}

#first h1 {
  font-size: 72px; /* Размер шрифта для <h1> */
  font-family: 'MyCustomFont1';
}

#first h2 {
  font-size: 40px; /* Размер шрифта для <h2> */
  font-family: 'MyCustomFont2', sans-serif; /* Шрифт для <h2> */
}

#logo2 {
  margin-top: 150px;
  position: relative; /* Делает header позиционированным контейнером для абсолютно позиционированных псевдоэлементов */
  display: flex; /* Используется для центрирования изображения по горизонтали */
  justify-content: center; /* Центрирует содержимое header по горизонтали */
  align-items: center; /* Центрирует содержимое header по вертикали */
}

#logo2::before,
#logo2::after {
  content: ""; /* Необходимо для создания псевдоэлемента */
  position: absolute; /* Абсолютное позиционирование относительно #logo2 */
  top: 50%; /* Позиционирование в середине по вертикали */
  width: 300px; /* Ширина линии */
  height: 2px; /* Высота линии, определяющая её толщину */
  background-color: #000; /* Цвет линии */
}

#logo2::before {
  left: calc(50% - 120px - 300px);
  top: 40px;
}

#logo2::after {
  right: calc(50% - 120px - 300px);
  top: 0px;
}

  
#gallery {
  width: 400px; 
  height: 400px; 
  /* border: 5px solid #ffffff;  */
  background-color: transparent;
  /* padding: 20px;  */
  border-radius: 10px; 
  margin: 20px auto; /* Отступ вокруг секции */
}

#gallery h2 {
  width: 100%; /* Занимает всю доступную ширину */
  text-align: center; /* Если нужно выровнять текст по центру */
  margin-bottom: 20px; /* Добавляет отступ снизу для разделения от изображений */
  font-size: 72px; /* Размер шрифта для <h1> */
  font-family: 'MyCustomFont2', serif;
}

#gallery.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#gallery.visible {
  animation: rotateIn 3s forwards;
  visibility: visible;
}


.gallery-images {
  display: flex; /* Активируем Flexbox для контейнера */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  /* align-items: center; */ /* Вертикальное выравнивание по центру, если у контейнера задана высота */
}

.gallery-images img {
  width: 400px; /* Устанавливаем ширину изображений */
  height: auto; /* Поддерживаем пропорциональное масштабирование */
  border-radius: 10px; /* Задаем скругление углов */
  border: 4px solid #a41c82;
}

#guest-form {
  width: 400px; 
  height: 750px; 
  border: 5px solid #ffffff; 
  background-color: transparent;
  padding: 20px; 
  border-radius: 10px; 
  margin: 20px auto; /* Отступ вокруг секции */
  opacity: 1;                
  /* transition: opacity 2s ease-out; */
}

#guest-form h1 {
  font-size: 36px; 
  font-family: 'MyCustomFont2', serif;
}

.form-group {
  margin-bottom: 20px; /* Добавляет отступ снизу между группами форм */
}

label {
  display: block; /* Заставляет метки занимать всю ширину, текст будет выровнен влево */
  margin-bottom: 5px; /* Отступ метки от поля ввода */
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%; /* Заставляет поля ввода занимать всю ширину контейнера */
  padding: 8px; /* Добавляет немного пространства внутри полей ввода для удобства */
  box-sizing: border-box; /* Убеждается, что padding и border входят в общую ширину, указанную выше */
  border: 1px solid #ccc; /* Устанавливает границу для полей ввода */
  border-radius: 4px; /* Скругляет углы полей ввода */
}

button[type="submit"] {
  padding: 10px 20px; /* Добавляет пространство внутри кнопки */
  background-color: #4CAF50; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убирает границу кнопки */
  border-radius: 4px; /* Скругляет углы кнопки */
  cursor: pointer; /* Показывает указатель, когда пользователь наводит на кнопку */
}

button[type="submit"]:hover {
  background-color: #45a049; /* Цвет фона кнопки при наведении */
}

#map-yandex {
  width: 400px; 
  height: 600px; 
  border: 5px solid #ffffff; 
  background-color: transparent;
  padding: 20px; 
  border-radius: 10px; 
  margin: 20px auto; 
  opacity: 1;                
}

#map-yandex h2 {
  width: 100%; /* Занимает всю доступную ширину */
  text-align: center; /* Если нужно выровнять текст по центру */
  margin-bottom: 20px; /* Добавляет отступ снизу для разделения от изображений */
  font-size: 64px; /* Размер шрифта для <h1> */
  font-family: 'MyCustomFont1' serif;
}


#map-yandex > div {
  width: 320px; /* Ширина карты, как в параметрах URL */
  height: 300px; /* Высота карты, как в параметрах URL */
  margin: 20px auto; /* Добавляет вертикальные отступы и центрирует карту по горизонтали */
}


#countdown {
  width: 400px; 
  height: 400px; 
  border: 5px solid #ffffff; 
  background-color: transparent;
  padding: 20px; 
  border-radius: 10px; 
  margin: 20px auto; /* Отступ вокруг секции */
  opacity: 1;                
  /* transition: opacity 2s ease-out; */
}


#timer .time {
  display: inline-flex; /* Используется для центрирования содержимого внутри и размещения в строку */
  flex-direction: column; /* Организует содержимое (числа и текст) в столбик */
  justify-content: center; /* Центрирует содержимое по вертикали */
  align-items: center; /* Центрирует содержимое по горизонтали */
  width: 100px; /* Задаёт ширину кружка */
  height: 100px; /* Задаёт высоту кружка */
  margin: 10px; /* Добавляет немного пространства вокруг кружков */
  border-radius: 50%; /* Делает края кружка круглыми */
  border: 6px solid #c61f54; /* Задаёт толщину и цвет бордюра */
  background-color: transparent; /* Делает фон кружка прозрачным */
}

#timer .time span.number {
  display: block;
  font-size: 34px; /* Размер шрифта для чисел */
  margin-bottom: +1px;
}

#timer .time span.text {
  display: block;
  font-size: 18px; /* Меньший размер шрифта для текста */

}


footer {
  background-color: #42ebe5; /* Светлый серый цвет фона */
  color: #000000; /* Темно-серый цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  padding: 20px 0; /* Вертикальные отступы сверху и снизу */
  border-top: 3px solid #1538b5; /* Тонкая граница сверху */
}

footer p {
  margin: 0; /* Убирает стандартные отступы абзаца */
  font-size: 32px; /* Размер шрифта */
  font-family: 'MyCustomFont1', serif;

}



.hidden {
  opacity: 0;
  visibility: hidden;
}


.visible {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.visible-left {
  opacity: 1;
  animation: slideInFromLeft 2s forwards;
  /* transition: opacity 5s ease-out; */

}

.visible-far {
  opacity: 1;
  animation: slideInFromFar 2s forwards;
}

.visible-right {
  opacity: 1;
  animation: slideInFromRight 2s forwards;
}

.names {
  display: flex; /* Применяет flexbox, позволяя дочерним элементам располагаться в строку */
  justify-content: center;
  align-items: center; /* Выравнивает элементы по центру по вертикальной оси */
}

.name {
  margin: 0;
}





nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromFar {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(-360deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}




#guest-form.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#guest-form.visible {
  animation: slideInFromRight 2s forwards;
  visibility: visible;
}

#map-yandex.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}
  
#map-yandex.visible {
    animation: slideInFromLeft 2s forwards;
    visibility: visible;
}
#countdown.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}
  
#countdown.visible {
    animation: slideInFromFar 2s forwards;
    visibility: visible;
}
 
#countdown.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}
  

#logo2.hidden {
    opacity: 0;
    visibility: hidden;
}

#logo2.visible {
    animation: slideInFromFar 2s forwards;
    visibility: visible;
}



@media screen and (max-width: 600px) {
  #first, #gallery, #guest-form, #map-yandex, #countdown {
      width: 90%; /* Adjust width to fit mobile screens */
      height: auto; /* Make height flexible to content */
      margin: 20px 30px; /* Reduce margin */
      padding: 15px; /* Adjust padding */
  }

  .gallery-images img {
      width: 80%;
      height: auto;
  }

  #timer .time {
      width: 80px; /* Adjust for smaller screens */
      height: 80px; /* Maintain aspect ratio */
  }

  #timer .time span.number {
      font-size: 24px; /* Adjust font size for readability */
  }

  #timer .time span.text {
      font-size: 18px;

  }

  nav ul li {
      display: block; /* Stack nav items vertically */
      margin: 10px 0; /* Add space between items */
  }

  input[type="text"], input[type="email"], input[type="tel"], select, textarea, button[type="submit"] {
      padding: 12px; /* Increase padding for easier tapping */
  }
}
