@font-face {
  font-family: 'MyCustomFont1';
  src: 
      url('FONT/antarctic.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont2';
  src: 
      url('FONT/ekaterina-velikaya-one.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont3';
  src: 
      url('FONT/caravan.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calmius';
  src: 
      url('FONT/Calmius-ExtraBold.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantInfant';
  src: 
      url('FONT/CormorantInfant-Light.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'saint_amour';
  src: 
      url('FONT/FontsFree-Net-saint-amour-regular.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Klukva';
  src: 
      url('FONT/Klukva_version_01.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vetrino';
  src: 
      url('FONT/Vetrino.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VINEYARD';
  src: 
      url('FONT/VINEYARD.TTF') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Moniqa';
  src: 
      url('FONT/Moniqa-BoldNarrowHeading.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlumniSansPinstripe';
  src: 
      url('FONT/AlumniSansPinstripe-Regular.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BIZUDPMincho';
  src: 
      url('FONT/BIZUDPMincho-Regular.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HinaMincho';
  src: 
      url('FONT/HinaMincho-Regular.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBGaramondSC08';
  src: 
      url('FONT/EBGaramondSC08-Regular.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBG_Italic';
  src: 
      url('FONT/EBGaramond08-Italic.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBG_Regular';
  src: 
      url('FONT/EBGaramond08-Regular.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_Light';
  src: 
      url('FONT/NotoSerifTC-Light.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_Regular';
  src: 
      url('FONT/NotoSerifTC-Regular.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_SemiBold';
  src: 
      url('FONT/NotoSerifTC-SemiBold.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto_Bold';
  src: 
      url('FONT/NotoSerifTC-Bold.otf') format('opentype');
       
  font-weight: normal;
  font-style: normal;
}


body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-image: url('FON/27.png'); /* Путь к изображению фона */
    background-size: cover; /* Масштабирование фонового изображения */
    background-position: center; /* Положение фонового изображения */
    background-attachment: fixed;
    overflow: auto;
    font-size: 12px;
    font-family: 'Noto_SemiBold', sans-serif;
}

#gallery, #guest-form, #map-yandex, #countdown, #dear_friends, #timetable, #dress {
  width: 600px;
  margin: 20px auto; /* Отступы: сверху, справа, снизу, слева */

}

#first, #second  {
    width: 700px; 
    height: 500px; 
    background-color: transparent;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px auto; /* Отступ вокруг секции */
    opacity: 1;                
}
#second  {
  margin-top: -340px;               
}
#second h1 {
  font-size: 30px; /* Размер шрифта для <h2> */
  font-family: 'MyCustomFont2'; /* Шрифт для <h2> */
}

#second h2 {
  font-size: 30px; /* Размер шрифта для <h2> */
  font-family: 'MyCustomFont2'; /* Шрифт для <h2> */
}


#name1 {
  margin-left: -83px; /* Задаем отрицательный отступ слева */
}

#logo2 {
  margin-top: 20px;
  position: relative; /* Делает header позиционированным контейнером для абсолютно позиционированных псевдоэлементов */
  display: flex; /* Используется для центрирования изображения по горизонтали */
  justify-content: center; /* Центрирует содержимое header по горизонтали */
  align-items: center; /* Центрирует содержимое header по вертикали */
}

#logo2::before,
#logo2::after {
  content: ""; /* Необходимо для создания псевдоэлемента */
  position: absolute; /* Абсолютное позиционирование относительно #logo2 */
  top: 50%; /* Позиционирование в середине по вертикали */
  width: 300px; /* Ширина линии */
  height: 2px; /* Высота линии, определяющая её толщину */
  background-color: #000; /* Цвет линии */
}

#logo2::before {
  left: calc(50% - 120px - 300px);
  top: 40px;
}

#logo2::after {
  right: calc(50% - 120px - 300px);
  top: 0px;
}


#dear_friends {
  height: 650px; 
  border: 5px solid #ffffff; 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px; 
  border-radius: 10px; 
  opacity: 1;                
}


#timetable, #dress {
  height: 650px; 
  border: 5px solid #ffffff; 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px; 
  border-radius: 10px; 
  opacity: 1;                
}


hr {
  width: 50%; /* Задаем ширину линии */
  height: 2px; /* Задаем высоту линии */
  background-color: black; /* Задаем цвет линии */
  border: none; /* Убираем границу */
  margin: 20px auto; /* Устанавливаем отступы слева и справа автоматически, а верх и низ - 20px */
}
#logo4, #logo5 {
  display: inline-block; /* Делаем элементы строчно-блочными, чтобы они выстроились горизонтально */
  vertical-align: middle; /* Выравниваем по вертикали по центру */
  
}

#logo4 {
  margin-top: 20px; 
  position: absolute;
  left: calc(15%);
}

#logo5 {

  margin-top: 23px; 
  position: absolute;
  right: calc(15%);
}

#gallery {
  height: 400px; 
  background-color: transparent;
  border-radius: 10px; 
}

#gallery h2 {
  text-align: center; /* Если нужно выровнять текст по центру */
  margin-bottom: 20px; /* Добавляет отступ снизу для разделения от изображений */
  font-size: 72px; /* Размер шрифта для <h1> */
  font-family: 'MyCustomFont2', serif;
}

#gallery.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#gallery.visible {
  animation: rotateIn 3s forwards;
  visibility: visible;
}


.gallery-images {
  display: flex; /* Активируем Flexbox для контейнера */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  /* align-items: center; */ /* Вертикальное выравнивание по центру, если у контейнера задана высота */
}

.gallery-images img {
  width: 400px; /* Устанавливаем ширину изображений */
  height: auto; /* Поддерживаем пропорциональное масштабирование */
  border-radius: 10px; /* Задаем скругление углов */
  border: 4px solid rgba(40, 42, 100, 0.5);

}

#guest-form {
  height: 1650px; 
  border: 5px solid #ffffff; 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px; 
  border-radius: 10px; 
  opacity: 1;                
}


#guest-form h1 {
  font-size: 36px; 
  font-family: 'Noto_Bold', serif;
}


.form-group {
  margin-bottom: 20px; 
}

.form-group label1 {
  display: block;
  width: 100%;
  margin: 2px 0px; 
  /* text-align: left; */
  text-align: center; 
  font-size: 24px;
  font-family: 'Noto_SemiBold', sans-serif;
}


.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select,
textarea {
  background-color: transparent; 
  width: 100%; /* Заставляет поля ввода занимать всю ширину контейнера */
  padding: 8px; /* Добавляет немного пространства внутри полей ввода для удобства */
  box-sizing: border-box; /* Убеждается, что padding и border входят в общую ширину, указанную выше */
  border: 1px solid #ccc; /* Устанавливает границу для полей ввода */
  border-radius: 4px; /* Скругляет углы полей ввода */
  font-size: 12px;
  font-family: 'Noto_SemiBold', sans-serif;
}
fieldset legend {
  margin-bottom: 30px; 
  font-size: 24px;
  font-family: 'Noto_SemiBold', sans-serif;

}

fieldset label {
  display: block;
  width: 100%;
  margin: 2px 0px; 
  text-align: left;
  font-size: 18px;
  font-family: 'Noto_light', sans-serif;
}

button[type="submit"] {
  padding: 10px 20px; /* Добавляет пространство внутри кнопки */
  background-color: #72624F; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убирает границу кнопки */
  border-radius: 4px; /* Скругляет углы кнопки */
  cursor: pointer; /* Показывает указатель, когда пользователь наводит на кнопку */
}

button[type="submit"]:hover {
  background-color: #72624F; /* Цвет фона кнопки при наведении */
}

#map-yandex {
  height: 600px; 
  border: 5px solid #ffffff; 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px; 
  border-radius: 10px; 
  opacity: 1;                
}

#map-yandex h2 {
  width: 100%; /* Занимает всю доступную ширину */
  text-align: center; /* Если нужно выровнять текст по центру */
  margin-bottom: 20px; /* Добавляет отступ снизу для разделения от изображений */
  font-size: 34px; /* Размер шрифта для <h1> */
  font-family: serif;
}


#map-yandex > div {
  width: 320px; /* Ширина карты, как в параметрах URL */
  height: 300px; /* Высота карты, как в параметрах URL */
  margin: 20px auto; /* Добавляет вертикальные отступы и центрирует карту по горизонтали */
}


#timer .time {
  display: inline-flex; /* Используется для центрирования содержимого внутри и размещения в строку */
  flex-direction: column; /* Организует содержимое (числа и текст) в столбик */
  justify-content: center; /* Центрирует содержимое по вертикали */
  align-items: center; /* Центрирует содержимое по горизонтали */
  width: 60px; /* Задаёт ширину кружка */
  height: 60px; /* Задаёт высоту кружка */
  margin: 10px; /* Добавляет немного пространства вокруг кружков */
  border-radius: 50%; /* Делает края кружка круглыми */
  border: 3px solid #72624F;

  background-color: transparent; /* Делает фон кружка прозрачным */
}

#timer .time span.number {
  display: block;
  font-size: 24px; 
  margin-bottom: +1px;
  font-family: 'CormorantInfant', serif;
}

#timer .time span.text {
  display: block;
  font-size: 12px;
  font-family: 'CormorantInfant', serif;
}

/* 
footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000; 
  text-align: center; 
  padding: 20px 0; 
  border-top: 3px solid #1538b5;
}

footer p {
  font-size: 32px; 
  font-family: serif;

} */

.hidden_guest {
  opacity: 0;
  visibility: hidden;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.visible {
  opacity: 1;
  transition: opacity 5s ease-in-out;
}
.visible-left {
  opacity: 1;
  animation: slideInFromLeft 2s forwards;
  /* transition: opacity 5s ease-out; */

}
.visible-far {
  opacity: 1;
  animation: slideInFromFar 2s forwards;
}

.visible-right {
  opacity: 1;
  animation: slideInFromRight 2s forwards;
}

.names {
  display: flex; /* Применяет flexbox, позволяя дочерним элементам располагаться в строку */
  justify-content: center;
  align-items: center; /* Выравнивает элементы по центру по вертикальной оси */
}

.name {
  margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromFar {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(-360deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}




#guest-form.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#guest-form.visible {
  animation: slideInFromRight 2s forwards;
  visibility: visible;
}

#map-yandex.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}
  
#map-yandex.visible {
    animation: slideInFromLeft 2s forwards;
    visibility: visible;
}

#timetable.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#dear_friends.visible {
  animation: slideInFromFar 2s forwards;
  visibility: visible;
}

#timetable.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#timetable.visible {
  animation: slideInFromLeft 2s forwards;
  visibility: visible;
}

#dress.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#dress.visible {
  animation: slideInFromFar 2s forwards;
  visibility: visible;
}

#countdown.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}
  
#countdown.visible {
    animation: slideInFromFar 2s forwards;
    visibility: visible;
}
   

#logo2.hidden {
    opacity: 0;
    visibility: hidden;
}

#logo2.visible {
    animation: slideInFromFar 2s forwards;
    visibility: visible;
}



@media screen and (max-width: 600px) {
  body {
    text-align: center;
    background-image: url('FON/2.webp'); /* Путь к изображению фона */
    background-size: cover; /* Масштабирование фонового изображения */
    background-position: center; /* Положение фонового изображения */
}


#gallery, #guest-form, #map-yandex, #dear_friends,  #timetable, #dress {
  width: 400px; /* Ширина блоков */
  margin: 20px auto 20px 135px; /* Отступы: сверху, справа, снизу, слева */
}
#gallery {
  width: 400px; /* Ширина блоков */
  margin: 20px auto 20px 250px; /* Отступы: сверху, справа, снизу, слева */
}

#logo2::before,
#logo2::after {
  display: none; /
}


  #timer .time {
      width: 80px; /* Adjust for smaller screens */
      height: 80px; /* Maintain aspect ratio */
  }

  #timer .time span.number {
      font-size: 24px; /* Adjust font size for readability */
  }

  #timer .time span.text {
      font-size: 18px;

  }

  nav ul li {
      display: block; /* Stack nav items vertically */
      margin: 10px 0; /* Add space between items */
  }

  input[type="text"], input[type="email"], input[type="tel"], select, textarea, button[type="submit"] {
      padding: 12px; /* Increase padding for easier tapping */
  }
}

@media screen and (max-width: 379px) {
  body {
    text-align: center;
    background-image: url('FON/1.webp'); /* Путь к изображению фона */
    background-size: cover; /* Масштабирование фонового изображения */
    background-position: center; /* Положение фонового изображения */
    background-attachment: fixed;
}
  #first h2 {
    width: 100%;
    font-size: 80px; 
    font-family: 'saint_amour', sans-serif;
  }
  #gallery, #guest-form, #map-yandex, #countdown, #dear_friends,  #timetable, #dress {
    width: 320px; /* Ширина блоков */
    margin: 20px auto 20px 150px; /* Отступы: сверху, справа, снизу, слева */
  }
  
  #logo2::before,
  #logo2::after {
    display: none; /
  }
  #guest-form {
    height: 1750px; 
  }
}
